a{
    text-decoration:none;
}

body{
    margin:0;
}

.header{
    color:red;
}

.top-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:fixed;
    top:0; /* Places it at the top */
    background-color:white;
    color:black;
    height:10vh;
    min-height:4rem;
    z-index:1000;
    width:100%;
    font-weight: bold;
}

.flex{
    display:flex;
}

.colum{
    flex-direction:column;
    align-items:center;
}

.profile-icon{
    border:1px solid black;
    border-radius:100px;
    width:50px;
    height:50px;
    margin-left:100px;
    margin-right:15px;
}

.bar-links{
    display:flex;
    gap:50px;
    margin-right:60px;
}

.bar-links a{
    color:black;
}

.socials {
    position: absolute;
    top: 50%;
    border: 2px solid #eee;
    border-left: 2px solid #eee;
    transform: translateY(-50%);
}

.greeting {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color: #fff;
    background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(50, 0, 0, 0.8)),url(../../assets/svg/common-bg.svg);
    background-position: center;
    height: 90vh;
    position: relative;
    margin-top:10vh;
}

.opening{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    font-size:35px;
    margin-top:-200px;
    text-align:center;
}

.desc{
    max-width:600px;
    text-align:center;
    font-size:20px;
}

.project-button{
    background:white;
    /* border:1px solid black; */
    box-shadow:0px 4px 10px rgb(50, 0, 0);
    position:absolute;
    border-radius:5px;
    height:50px;
    width:200px;
    margin:0;
    bottom:250px;
    transition:0.5s;
}

.project-button:hover{
    bottom:254.5px;
}

.project-img{
    width:500px;
    height:auto;
    text-align:center;
}

.body-section{
    height:80vh;
    background-color: #e1e1e1;
    padding:100px;
}

.about-me{
    width:100%;
    font-size:23px;
}

.para-about-me{
    margin-top:-15px;
    max-width:940px;
    text-align:center;
}

.under-about-me{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    width:100%;
    margin-top:100px;
    gap:3rem;
    padding:1rem;
}

.get-know{
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    height:100%;
    width:35%;
}

.my-skills{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    height:100%;
    width:25%;
}

.skill-list{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    justify-content:flex-start;
    /* border:1px solid red; */
}

.skill-box{
    display:block;
    border:1px solid #e1e1e1;
    background-color:rgb(212, 212, 212);
    padding:10px 25px;
    border-radius:7px;
}

/* .container{
    width:500px;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
} */

.line{
    text-align:center;
    position:relative;
}

.line::after{
    content:'';
    display:block;
    width:30px;
    height:4px;
    background-color:rgb(50, 0, 0);
    margin:20px auto;
    border-radius:2px;
}

.projects{
    width:100%;
    height:auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    padding:100px 0;
}

.projects h1{
    font-size:45px;
}

.contact-page{
    text-align:center;
    background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(50,0,0,0.8)),url(../../assets/svg/common-bg.svg);
    height:100vh;
    padding:80px;
    color:white;
}

.contact-page h1{
    font-size:45px;
}

.contact-form{
    height:85vh;
    /* background-color:#555; */
    max-width:900px;
    margin:auto;
    border-radius:20px;
    padding:20px 80px 0px 80px;
}

.contact-form p{
    text-align:start;
    margin-bottom:3px;
    margin-left:2px;
}

.title-box{
    margin-bottom:100px;
}

.line2{
    text-align:center;
    position:relative;
}

.line2::after{
    content:'';
    display:block;
    width:30px;
    height:4px;
    background-color:white;
    margin:20px auto;
    border-radius:2px;
}

input[type=name],
input[type=email],
select,
textarea{
    padding:7px;
    border-radius:3px;
    border:1px solid #555;
    width:100%;
    font-size:20px;
    height:35px;
}

textarea{
    height:65px;
}

*:focus{outline:none;}

input[type=message]{
    padding:7px;
    border-radius:3px;
    border:1px solid #555;
    width:100%;
    font-size:20px;
    height:350px;
}

.submit-button{
    background:white;
    box-shadow:0px 4px 10px rgb(50, 0, 0);
    position:static;
    display:block;
    border-radius:5px;
    height:50px;
    width:200px;
    margin:-60px auto auto auto;
    transition:0.5s;
}

.submit-button:hover{
    margin-top:-70px;
}

.project-desc{
    display:flex;
    justify-content: space-between;
    width:50%;
    margin-bottom:100px;
    /* border:1px solid red; */
}

.viewButton {
    position: absolute;
    z-index: 10; /* ensures it's above the animation */
    background: white;
    color: black;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 25px;
    box-shadow: 0px 4px 10px rgba(50, 0, 0, 0.4);
    transition: all 0.3s ease;
    cursor: pointer;
}

.viewButton:hover {
    transform: scale(1.1);
    background: crimson;
    color: white;
}

.box-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}



.test {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background: #fafafa;
    gap: 20px; /* spacing between each mouse */
}

.mouse1 {
    width: 25px;
    height: 40px;
    border: 2px solid #eee;
    border-radius: 60px;
    position: absolute;
    bottom:30px;
    overflow: hidden
}

.mouse1::before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #eee;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 1.3s infinite;
    -webkit-animation: wheel 1.3s infinite
}

@keyframes wheel {
    to {
        opacity: 0;
        top: 27px
    }
}

.box, .box2, .box3 {
    position: relative;
    width: 150px;
    height: 60px;
    border: 10px solid black;
    background-color:black;
    border-radius: 300px;
    overflow: hidden;
    /* gap:20px; */
}

    /* The moving circle (the "mouse") */
.mouse {
    position: absolute;
    width: 6px;
    height: 6px;
    background: crimson;
    /* border-radius: 50%; */
    top: 0;
    left: 0;
    animation: moveBorder 12s linear infinite;
    animation-delay: calc(var(--i) * 0.3s);
}

    /* Keyframes controlling movement along the border */
@keyframes moveBorder {
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        left: calc(100% - 6px);
    }
    50% {
        top: calc(100% - 6px);
        left: calc(100% - 6px);
    }
    75% {
        top: calc(100% - 6px);
        left: 0;
    }
    100% {
        top: 0;
        left: 0;
    }
}